@import "bootstrap";

/* Global */

.hero-unit {
	width: 260px;
	margin: 100px auto 50px;
	padding: 30px 40px;
}

.hero-unit h2 {
	font-size:40px;
}


.instr_radio {
	display: inline-block;
	padding: 0 30px;
}

footer {
	width: 940px;
	margin: 20px auto;
}

td {
	text-align: center;
}

a:hover {
	cursor: pointer;
}

hr {
	margin: 18px 0;
	border: 0;
	border-top: 1px solid #AAA;
}

/* Welcome Page */

#toggle_reg:hover {
	cursor: pointer;
}

.user_login [id^='user'] {
	width: 150px;
}

/* Courses Page */

.courses {
	width: 630px;
	margin: 100px auto 50px;
	padding: 30px 40px;
}

.user_login {
	float:right;
	margin: 5px 0 0 0 ;
	height: 30px;
}

.courses .course_table table {
	width: 600px;
}


.course_table td {
	padding: 0 5px;
}

.course_table t3 {
	height:40px;
}

.add_class_div {
	display:none;
}

#course_course_code {
	width: 100px;
}

#course_description {
	width: 290px;
}

#course_semester {
	width: 100px;
}

.form_in_place input {
	width: inherit;
}

/* Assignments Page */

#assignment_due_date_1i {
	width: 65px;
}

#assignment_due_date_2i {
	width: 100px;
}

#assignment_due_date_3i {
	width: 50px;
}

.side {
	float:left;
}

.subcontainer {
	width: 940px;
	margin: 0 auto;
	height: 320px;
}

.subcontainer_2 {
	display:inline-block;
}


.mc_radio {
	display:inline-block;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
